@import url('https://fonts.googleapis.com/css?family=Poppins:400');

.counter {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  letter-spacing: 3px;
  font-size: 55px;
  margin: 0;
  padding: 0;
}